<div class="bg-content">
<div class="background">
<div class="orb one"></div><div class="orb two"></div><div class="bg-grid"></div><div class="scanline"></div>
<div class="electric"><svg viewBox="0 0 1440 900" preserveAspectRatio="none">
<path d="M-50 210 C 170 120, 260 330, 450 240 S 790 120, 980 245 S 1200 390, 1490 230"/>
<path d="M-80 650 C 180 520, 320 780, 540 610 S 860 450, 1080 620 S 1300 760, 1510 560"/>
<path d="M-40 430 C 190 350, 390 480, 620 390 S 960 250, 1130 410 S 1280 540, 1490 420"/>
</svg></div>
<div class="data-rain">
<div class="code">010101 SQL KPI ROI CPC</div><div class="code">DISCADO ALO CPC ACORDO</div><div class="code">101010 PERFORMANCE OPS</div><div class="code">PYTHON FLASK DATA FLOW</div><div class="code">0101 STRATEGY COCKPIT</div><div class="code">TMA HITRATE LOCATOR</div><div class="code">AUTOMACAO DASHBOARD</div>
</div></div></div>